{{ define "main" }}
{{ range .Data.Pages }}
<a href="{{ .URL }}">
    <article class="preview__article">
        <header class="preview__article__header">
            <h1 class="preview__article__header__title">
                <span class="_highlighter">{{.Title}}</span>
            </h1>
            <div class="preview__article__header__meta">
                {{ .Date.Format "January 2, 2006" | upper }}
            </div>
        </header>
        <section class="preview__article__writing">
            <p>{{ .Summary }}</p>
            <div>
                <div class="button">Read More &rarr;</div>
            </div>
        </section>
    </article>
</a>
{{ end }}
{{ end }}
