{{ define "main" }}
{{ .Content }}

<h2>Select Awards</h2>

<ul>
    {{range .Site.Data.theatre.awards }}
    <li>
        <span class="award__title">{{ .title }}</span> &middot; {{ .where }} <span class="award__when">({{ .when }})</span>
    </li>
    {{ end }}
</ul>

<h2>Experience</h2>

{{ range .Site.Data.theatre.credits }}
<h3>{{ .venue }}</h3>

<ul>
    {{range .elems }}
    <li>
        <span class="credit__role">{{ .role }}</span> &middot; <span class="credit__play">{{ .title }}</span> &middot; {{ .where }} <span class="credit__when">({{ .when }})</span>
        <br/>
        Directed by {{ .director }}
    </li>
    {{ end }}
</ul>
{{ end }}
{{ end }}